services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: segmentation_api
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./src:/app/src
    environment:
      - ADMIN_API_KEYS=${ADMIN_API_KEYS}
      - EMB_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      - mlflow
    networks:
      - segmentation_net

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.13.1
    container_name: mlflow
    ports:
      - "5000:5000"
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    volumes:
      - ./mlruns:/mlflow/mlruns
    command: >
      mlflow server
      --backend-store-uri sqlite:///mlflow.db
      --default-artifact-root /mlflow/mlruns
      --host 0.0.0.0
      --port 5000
      --serve-artifacts
      --gunicorn-opts="--forwarded-allow-ips='*' --proxy-allow-from='*' --access-logfile=-"
    networks:
    - segmentation_net


networks:
  segmentation_net:
    driver: bridge
