services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: segmentation_api
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./src:/app/src
      - ./api:/app/api
    env_file:
      - .env
    environment:
      - ADMIN_API_KEYS=${ADMIN_API_KEYS}
      - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI}
      - MLFLOW_EXPERIMENT_NAME=${MLFLOW_EXPERIMENT_NAME}
      - EMB_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
    restart: unless-stopped


  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow
    ports:
      - "5000:5000"
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    volumes:
      - ./mlruns:/mlflow/mlruns
    command: mlflow ui --host 0.0.0.0 --port 5000

